<%- include("layouts/head") %>
    <header class="header">
        <div class="bg-hero">
            <img src="<%= pelicula.cover%>" alt="">
        </div>
        <div class="header-movie">
            <h1 class="title-movie">
                <%= pelicula.titulo%>
            </h1>
            <p class="time-movie">Duración <%= pelicula.duracion%>
            </p>
        </div>
    </header>
    <main class="container mt-4 ctn-custom-movie p-2">
        <div class="row g-3">
            <div class="col-12 col-sm-4 col-lg-2 image-sinopsis">
                <img src=" <%= pelicula.banner%>" alt="">
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
                <%= pelicula.sinopsis%>
            </div>
            <div class="col-12 col-lg-4 ctn-trailer">
                <iframe src="https://www.youtube.com/embed/<%= pelicula.trailer%>" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </main>
    <section class="container mt-2 ctn-custom-movie p-5">
        <div class="datetime">
            <h2 class="">Escoja la Fecha y Hora</h2>
            <form class="row g-3" action="/pelicula" method="POST">
                <div class="col-md-6">
                    <label for="inputDate" class="form-label">Fecha</label>
                    <input type="date" class="form-control" name="fecha" id="inputDate" required>
                </div>
                <div class="col-md-6">
                    <label for="inputHora" class="form-label">Hora</label>
                    <input type="time" class="form-control" name="hora" min="17:00" max="23:59" id="inputHora" required>
                </div>
                <input type="hidden" name="id" value="<%= pelicula.id %>">
                <button class="btn-checkout">
                    Realizar Compra
                </button>
            </form>
        </div>
    </section>

    <%- include("layouts/footer") %>